.create-election-view{
    height: 100%;
    display:flex;
    justify-content: space-between;
}

.create-election-view-settings {
    display:flex;
    flex-direction: column;
    /*Should be the same as .create-election-view-trail*/
    width: 300px;
    box-shadow: darkgray 4px 4px 4px 4px;

    align-self: stretch;
    justify-self: start;
}

.create-election-view-table {
    display:flex;

    width: 500px;
    align-self: stretch;

    align-items: stretch;
    justify-content: center;
}

.create-election-view-table-column {
    display:flex;
    flex-direction: column;

    align-items: stretch;
    justify-content: center;
}


.create-election-view-trail {
    /*Should be the same as .create-election-view-settings*/
    width: 300px;
}

.create-election-share {
   display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}