.box {
    margin: 8px;
    padding: 8px;
    background-color: aliceblue;
    border-radius: 8px;
    width: 400px;
    box-shadow: darkgray 4px 4px 4px 4px;
}
.create-election-view{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create-election-view-table {
    display:flex;
    align-items: start;
    justify-content: center;
}

.create-election-share {
   display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}