.card{
    margin:4px;
    padding:8px;
    padding-left: 12px;
    border-radius: 2px;
    background-color: white;
    box-shadow: lightgrey 2px 2px 2px 2px;
    display:flex;
    flex-grow: 1;
}
.card label {
    flex-grow: 1;
}
.card textarea {
    flex-grow: 1;
    /*the idea is that there will be a masked background, and we want this on top */
    z-index: 10;
}