.card{
    padding-top:6px;
    padding-bottom:6px;
    flex-grow: 1;
}
.card-content:hover {
    background-color: lightgrey;
}
.card-content{
    display:flex;
    padding:8px;
    padding-left: 12px;
    border-radius: 2px;
    background-color: white;
    box-shadow: lightgrey 2px 2px 2px 2px;
}

.card-delete {
    width:24px;
    height:24px;
    border-radius: 4px;
}

.card-delete:hover {
    background: lightgrey;
}

.card-delete:active{
    background: darkgray;
}
.card label {
    flex-grow: 1;
}
.card textarea {
    flex-grow: 1;
    /*the idea is that there will be a masked background, and we want this on top */
    z-index: 10;
}
.card svg{
    flex-shrink: 0;
}