.column {

}
.column-header {
    display: flex;
    margin: 8px;
}
.column-row {
    display:flex;
    align-items: center;
}
.column-row label {
    padding-right: 8px;
}

.column label {
    text-align: left;
}
.add-new-card{
   padding:8px;
    display:flex;
    align-items: center;
}