.card-table {
    display:flex;
    flex-direction: row;

    width: 500px;

    align-items: start;
    justify-content: center;
}

.card-table > div{

    /*children should all have the same size, so their basis needs to start out the same*/
    flex-basis: 0;
    flex-grow: 1;
}
