.box{
    margin: 8px;
    padding: 8px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: darkgray 4px 4px 4px 4px;
}
.masked-background {
    background-color: black;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}