.vote-view, .vote-view-table {
    height: 100%;
}
.vote-view-table {
    display:flex;
    align-items: start;
    justify-content: center;
}
.box {
    margin: 8px;
    padding: 8px;
    background-color: aliceblue;
    border-radius: 8px;
    width: 400px;
    box-shadow: darkgray 4px 4px 4px 4px;
}
